/*
  HealthNet CSS Color Themes
  ==============================================================================

  Red Shades Color Scheme:
  White: #FFFFFF rgb(255, 255, 255)
  Grey: #D4D4D4 rgb(212, 212, 212)
  Main: #D22121 rgb(210, 33, 33)
  Background: #921717 rgb(147, 23, 23)
  Dark Accent: #B81D1D rgb(184, 29, 29)
  Light Accent: #DF2323 rgb(223, 35, 35)
  Dark: #520D0D rgb(82, 13, 13)

  Blue Monochromatic Color Scheme: CURRENT
  White: FFFFFF
  Grey: D4D4D4
  Main: 1977E9
  Background: 1F5C7F
  Dark Accent: 3294CC
  Light Accent: 3EB9FF
  Dark: 456A7F

  Button Green: #249117
*/
